.tool-hero {
    min-height: 60vh;
    background: url("../assets/laptop.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-banner {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3rem;
}

.tool {
    padding: 4rem 0;
    background: rgb(219, 122, 37);
}

.item-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 2rem;
    min-height: 260px;
}

.item-container h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    font-weight: 200;
}

.title {
    font-weight: 500;
}

.buttons {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.btn {
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}