.hero {
    height: 100vh;
    width: 100%;
    /* object-fit: contain; */
}

#back-image {
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    z-index: 2;
}

.hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
}

.hero .content h1 {
    font-size: 4rem;
    color: #fff;
}

.hero p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
    color: #fff;
}

.search-area {
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: space-between;
   
}

.search-area input {
    width: 300px;
    background-color: transparent;
    color: white;
    font-weight: 200;
    border: solid 1px white;
}

@media screen and (max-width: 640px) {
    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}