.board-hero {
    min-height: 60vh;
    background: url("../assets/laptop.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.item-banner {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3rem;
}

.board {
    padding: 4rem 0;
    background: rgb(219, 122, 37);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-container {
    /* text-align: center; */
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 2rem;
    height: 20px;
    width: 50%;
}